@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Gemstones&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    text-align: center;
    color: cadetblue;
    font-family: 'Rubik Gemstones', cursive;
}
 p{
    text-align: center ;
 }
button{
    display: block;
    margin: auto;
}